.menu {
  padding: 15px;

  height: 100%;

  position: absolute;

  left: 0;

  overflow-y: auto;

  width: 300px;

  color: #364149;

  background: #fafafa;

  border-right: 1px solid rgba(0, 0, 0, 0.07);

  transition: 0.5s;

  font-size: 15px;

  .menu__header {
    padding: 10px 10px 10px 15px;

    .menu__header__kind {
      font-size: 12px;
    }

    .menu__header__site-link {
      text-transform: uppercase;

      color: #364149;

      font-size: 12px;

      text-decoration: none;

      padding: 5px;

      background-color: #efefef;

      border-radius: 3px;
    }

    .menu__header__site-link:hover {
      cursor: pointer;

      color: $accent-color;

      background-color: #e3e3e3;
    }

    h2 {
      font-size: 2.2rem;

      margin-top: 10px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      display: block;
      color: #364149;
      text-overflow: ellipsis;
      overflow: hidden;

      text-decoration: none;
      padding: 10px 15px;

      &:hover {
        text-decoration: none;

        color: $accent-color;
      }

      &:active {
        color: $accent-color !important;
      }
    }

    li.active > a {
      color: $accent-color;
      text-decoration: none;

      font-weight: bold;
    }

    ul {
      padding-left: 20px;
    }
  }
}

.menu-hidden {
  width: 100% !important;
  z-index: 1000;
}

@include max-screen(600px) {
  .menu {
    width: 0;
  }
}
