@charset "utf-8";

@import "normalize";

$accent-color: #0039d6;

$default_padding: 20px;

* {
  box-sizing: border-box;
}

html {
  font-size: 61.5%;
}

body, html {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  font-family: 'Inter', sans-serif;

  font-size: 14px;

  letter-spacing: 0.2px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;

  font-weight: 700;
}

h1 {
  font-size: 3.2rem;

  margin-bottom: 5px;

  font-weight: 800;
}

h2 {
  font-size: 2.7rem;

  font-weight: 800;

  margin-bottom: 3px;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 3px;
}

h4 {
  font-size: 2.2rem;
  margin-bottom: 3px;
}

h5 {
  font-size: 2.0rem;
  margin-bottom: 3px;
}

h6 {
  font-size: 1.8rem;
  margin-bottom: 3px;
}

ul, ol {
  margin-top: 5px;

  margin-bottom: 5px;
}

@mixin min-screen($min-width: $body-width) {
   @media screen and (min-width: $min-width) {
     @content;
   }
}

@mixin max-screen($max-width: $body-width) {
   @media screen and (max-width: $max-width) {
     @content;
   }
}

$sidebar-width: 300px;

.text-color-secondary {
  color: gray;
}

.font-weight-bold {
  font-weight: bold;
}

.active {
  font-weight: bold;

  color: $accent-color !important;
}

details {
  margin-bottom: 10px;
}

details:hover {
  cursor: pointer;
}

summary:focus {
  outline: 0;
}

pre {
  border-radius: 5px;

  padding: 10px $default_padding;
}

.menu-icon {
  display: none;
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .menu-icon {
    display: block;
  }
}

@import "navigation";
@import "content";
@import "header";
@import "shortcodes";
